[data-md-color-scheme="blockscience-labs"] {
    --md-primary-fg-color: #232323;
    --md-primary-bg-color: #000000;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #FFCD00;
}

.md-header {
    color: black;
}